* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-blend-mode: exclusion;
  backdrop-filter: blur(15px);
  background-image: url(noice.png);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  align-self: flex-start;
  margin-left: 10px;
}

h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: #3700fc;
  display: inline;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select option {
  background-color: #f2f2f2;
}

button[type="submit"] {
  background-color: #019c47;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 15px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
  background-color: #005fa3;
}

#check-list {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #0077cc;
  cursor: pointer;
  transition: all 0.3s ease;
}

#check-list:hover {
  color: #005fa3;
}

border-rad #gen {
  padding: 3px;
  background: #17b06b !important;
  position: relative;
  color: black;
  line-height: 20px;
  min-width: 90%;
  width: 90%;
  border-radius: 8px;
  display: block;
}

#CNk {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  font-size: 20px;
  cursor: poin;
}

.txt {
  text-align: center;
  color: red;
  background: white;
  position: inherit;
  width: 20%;
  border-radius: 20px;
  padding: 5px;
}
